:root {
    --blue-color: #005794;
    --orange-color: #EF5E31;
    --black-color: #272727;
    --white-color: white;
    --heading-font: 'EB Garamond', serif;
    --secondary-font: 'Roboto', sans-serif;
}

/* Top Bar */

.top-bar {
    padding: 15px 0px;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: var(--orange-color);
    background-color: var(--blue-color);
}

.top-bar ul {
    background-color: var(--blue-color);
}

.menu .menu-text {
    font-size: 35px;
    font-weight: 600;
    font-family: var(--heading-font);
    color: var(--orange-color);
}

.top-bar li p {
    margin: 0;
}

.top-bar li a {
    padding: 15px 20px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--secondary-font);
    color: var(--white-color)
}

.top-bar li a:hover {
    color: var(--orange-color);
    transition: .4s;
    transform: scale(1.2);
}

#donation-btn {
    margin-right: 50px;
    margin-left: 20px;
    border-radius: 100px;
    color: var(--white-color);
    background: var(--orange-color);
}

/* About Section */

.about-section {
    height: 70vh;
    color: var(--white-color);
    background-color: var(--blue-color);
}

.about-title h1 {
    padding-top: 30px;
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    font-family: var(--heading-font);
    color: var(--orange-color);
}

.about-text p {
    padding: 20px 140px;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: var(--secondary-font);
}